.contact-form {
  margin: 2rem auto;
  color: white;
  text-align: left;
  max-width: 800px;
}
.contact-form > label {
  display: block;
  margin-right: 2rem; 
  color: white;
  font-weight: 200;
  margin-bottom: .25rem;
}
.contact-form > input, .contact-form > textarea {
  color: black;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 0;
  width: 100%;
}
